body {
	background-color: #f6f6f6;
}

.logo {
	height: 40px;
	width: 40px;
	margin-top: -10px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}

.actions {
	margin-bottom: 20px;
}

.action {
	width: 150px;
}

.plain {
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
